<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="GetBasketHandler" path="/baskets/*" verb="GET" type="CheckoutKata.Web.GetBasketHandler"/>
      <add name="CreateBasketHandler" path="/baskets" verb="POST" type="CheckoutKata.Web.CreateBasketHandler"/>
      <add name="HttpHandler" path="*" verb="*" type="CheckoutKata.Web.HttpHandler"/>
    </handlers>
  </system.webServer>

</configuration>
